<div class="head-title bg-greengradient">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<h3><i class="i i-functions"></i> <%= t.functions_text.title %>	</h3>
					<h4><%= t.functions_text.subtitle %></h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tools-info content-top">
	<div class="wrapper">
		<div class="cols-12">
			
			<div id="to-tab1">
				<div class="info">
					<h2><%=t.functions.f1%></h2>
					<p><%=t.functions.text1%></p>
					<ul class="benefit-list"><%=t.functions.features1%></ul>
          <%= image_tag 's-homeworks.png', '100%', 'img-bottom'%>
          <hr/>
				</div>
			</div>

			<div id="to-tab2" style="">
				<div class="info">
					<h2><%=t.functions.f2%></h2>
					<p><%=t.functions.text2%></p>
					<ul class="benefit-list"><%=t.functions.features2%></ul>
          <%= image_tag 's-results.png', '100%', 'img-bottom'%>
          <hr/>
				</div>
			</div>

			<div id="to-tab3" style="">
				<div class="info">
					<h2><%=t.functions.f3%></h2>
					<p><%=t.functions.text3%></p>
					<ul class="benefit-list"><%=t.functions.features3%></ul>
					<%= image_tag 's-discusiones.png', '100%', 'img-bottom'%>
					<hr/>
				</div>
			</div>

			<div id="to-tab4" style="">
				<div class="info">
					<h2><%=t.functions.f4%></h2>
					<p><%=t.functions.text4%></p>
					<ul class="benefit-list"><%=t.functions.features4%></ul>
				  <%= image_tag 's-comments.png', '100%', 'img-bottom'%>
	      	<hr/>
				</div>
			</div>

			<div id="to-tab5" style="">
				<div class="info">
					<h2><%=t.functions.f5%></h2>
					<p><%=t.functions.text5%></p>
					<ul class="benefit-list"><%=t.functions.features5%></ul>
	        <%= image_tag 's-chat.png', '100%', 'img-bottom'%>
		      <hr/>
		    </div>
		  </div>

			<div id="to-tab6" style="">
				<div class="info">
					<h2><%=t.functions.f6%></h2>
					<p><%=t.functions.text6%></p>
					<ul class="benefit-list"><%=t.functions.features6%></ul>
		      <%= image_tag 's-network.png', '100%', 'img-bottom'%>
		      <hr/>
		    </div>
		  </div>		     

			<div id="to-tab7" style="">
				<div class="info">
					<h2><%=t.functions.f7%></h2>
					<p><%=t.functions.text7%></p>
					<ul class="benefit-list"><%=t.functions.features7%></ul>
		      <%= image_tag 's-results.png', '100%', 'img-bottom'%>
		      <hr/>
				</div>
			</div>

			<div id="to-tab8" style="">
				<div class="info">
					<h2><%=t.functions.f8%></h2>
					<p><%=t.functions.text8%></p>
					<ul class="benefit-list"><%=t.functions.features8%></ul>
		      <%= image_tag 's-stadistics.png', '100%', 'img-bottom'%>
		      <hr/>
		    </div>
		  </div>

			<div id="to-tab9" style="">
				<div class="info">
					<h2><%=t.functions.f9%></h2>
					<p><%=t.functions.text9%></p>
					<ul class="benefit-list"><%=t.functions.features9%></ul>
		      <%= image_tag 's-radar.png', '100%', 'img-bottom'%>
		      <hr/>
		    </div>
		  </div>

			<div id="to-tab10" style="">
	 			<div class="info">
					<h2><%=t.functions.f10_sub%></h2>
					<p><%=t.functions.text10%></p>
					<ul class="benefit-list"><%=t.functions.features10%></ul>
					<%= image_tag 's-gosspel.png', '100%', 'img-bottom'%>
		      <hr/>
		    </div>
		  </div>

			<div id="to-tab11" style="">
				<div class="info">
					<h2><%=t.functions.f11%></h2>
					<p><%=t.functions.text11%></p>
					<ul class="benefit-list"><%=t.functions.features11%></ul>
		      <%= image_tag 's-analytics.png', '100%', 'img-bottom'%>
		      <hr/>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="plugins bg-darkgray">
	<div class="wrapper">
		<div class="cols-12">
			<h2><%=t.functions.plugins%></h2>
			<p><%=t.functions.textplugins%></p>

			<div class="col col-4">
				<div class="col-inner">
					<div class="item2">
						<div class="img-center">
							<%= image_tag 'l_radar.png', '50%' %>
						</div>
						<span> <%= t.functions.radartext %></span>
					</div>
				</div>
			</div>
			<div class="col col-4">
				<div class="col-inner">
					<div class="item2">
						<div class="img-center">
							<%= image_tag 'l_bit.png', '50%' %>
						</div>
						<span> <%= t.functions.bittext %></span>
					</div>
				</div>
			</div>
			<div class="col col-4">
				<div class="col-inner">
					<div class="item2">
						<div class="img-center">
							<%= image_tag 'l_mix.png', '50%' %>
						</div>
						<span> <%= t.functions.mixpaneltext%></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>