<!DOCTYPE html>
<html>
  <head>
    <title>Cúrsame</title>
    <%= erb :'static_renders/meta_tags'%>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/aplication.js"></script>
    <script type="text/javascript" src="/js/featherlight.min.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <%=  erb :'static_renders/services'%>

  </head>
  <%=  erb :'static_renders/header', locals: {transparent_head: false}%>
  <body>
    <%= yield %>
    <%=  erb :'static_renders/footer'%>
  </body>
</html>