<!DOCTYPE html>
<html>
	<head>
		<title>Mail</title>
	</head>
	<body>
		<p>Nombre: <%= name %></p></br>
		<p>Institución: <%= institution %> </p></br>
		<p>Cargo: <%= charge %> </p></br>
		<p>Email: <%= email %> </p></br>
		<p>Teléfono: <%= phone %> </p></br>
		<p>Estado: <%= states %></p></br>
		<p>Municipio: <%= locations %></p></br>
	    <p>Nivel de escolaridad: <%= option1 %>, <%= option2 %>, <%= option3 %>, <%= option4 %> </p></br>
	    <p>atrícula de la escuela en alumnos: <%= number_of_users %></p></br>
	    <p>Turno(s): <%= option5 %>, <%= option6 %> </p></br>
	    <p>¿En su escuela se ha realizado la prueba ENLACE?: <%= enlace %></p></br>
	    <p>¿ Si contesto afirmativamente indique el porcentaje de alumnos de su escuela en el nivel bueno y excelente?: <%= calenlace %></p></br>
	    <p>¿Su escuela cuenta con servicio de internet?: <%= internet %></p></br>
	    <p>¿En que zonas de la escuela se tiene servicio de internet? (puede marcar más de una opción): <%= option7 %>, <%= option8 %>, <%= option9 %>, <%= option10 %>, <%= option11 %></p></br>
	    <p>¿Cuál es la velocidad de navegación del servicio de internet en su escuela?: <%= velinternet %></p></br>
	    <p>¿Cual es el navegador que usas? y ¿Que versión de este tienes?: <%= browser %>, <%= versionbrowser %> </p></br>
	    <p>¿Su escuela cuenta con aula de medios/ centro de computo?: <%= computers %></p></br>
	    <p>Si contesto afirmativamente indique cuantos equipos funcionales tiene dicha aula: <%= functional_computers %> </p></br>
	    <p>¿ En qué medida cree usted que los docentes de la escuela estarían interesados en utilizar tecnologías de la información y la comunicación en su práctica académica?: <%= interesdedocentes %></p></br>
	    <p>¿En su escuela ya se utilizan las TIC en e l proceso de enseñanza aprendizaje?: <%= usodetics %></p></br>
	    <p>¿De qué manera se hace? poner ejemplos: <%= examples_from_user_tics %></p></br>
	    <p>¿Qué porcentaje de maestros aproximadamente tiene computadora personal en su escuela?: <%= teacheshavecomputers  %></p></br>
	    <p>¿En qué medida cree usted que las Tecnología de la Información y la Comunicación pueden impactar el aprendizaje?: <%= imactfromtecnologicineducation %></p></br>
	    <p>¿Desde dónde considera usted que los alumnos regularmente acceden a internet? (puede marcar más de una opción): <%= option12 %>, <%= option13 %>,  <%= option14 %>,  <%= option15 %>,  <%= option16 %>,   <%= option17 %> </p></br>
	    <p>En general ¿Qué tan familiarizados considera usted que se encuentran los maestros de su escuela con las Tecnologías de la Información y la Comunicación?: <%= familiarizadoprofesores %> </p></br>

	</body>
</html>