<!DOCTYPE html>
<html>
	<head>
		<title>Mail</title>
	</head>
	<body>
		<p>Nombre: <%= name %></p></br>
		<p>Teléfono: <%= phone %> </p></br>
		<p>Institución: <%= institution %> </p></br>
		<p>Cargo: <%= charge %></p></br>
		<p>Mensaje: <%= content %></p></br>
	</body>
</html>