<!DOCTYPE html>
<html>
	<head>
		<title>Mail</title>
	</head>
	<body>
		<p>Nombre: <%= name %></p></br>
		<p>Institución: <%= institution %> </p></br>
		<p>Email: <%= email %> </p></br>
		<p>Teléfono: <%= phone %> </p></br>
		<p>Estado: <%= states %></p></br>
		<p>Municipio: <%= locations %></p></br>
		<p>Dirección: <%= adress %></p>
		<p>Giro de la organización: <%= option1 %>, <%= option2 %>, <%= option3 %>, <%= option4 %>, <%= option5 %>, <%= option6 %></p>
		<p>Régimen: <%= society %></p>
	</body>
</html>