<div class="content bg-darkblue">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<h4><%= title %></h4>
					<div class="bannerx ">
						
						<ul class="slider">
							<li class="dot">
								<div class="divimage">
									<%= image_tag('tese.png')%>
								</div>
								<div class="divtestimonial">
									<p><%= t.trust_us.testimonial1%></p>
								</div>
								<div class="triangle"></div>
								<div class="autor">
									<p><%= t.trust_us.autor1%></p>
									<span class="quote"><%= t.trust_us.institution1%></span>
								</div>
							</li >
							
							<li class="dot">
								<div class="divimage"><%= image_tag('iems.png')%></div>
								<div class="divtestimonial">
									<p><%= t.trust_us.testimonial2%></p>
								</div>
								<div class="triangle"></div>
								<div class="autor">
									<p><%= t.trust_us.autor2%></p>
									<span class="quote"><%= t.trust_us.institution2%></span>
								</div>
							</li>
							<li class="dot">
								<div class="divimage"><%= image_tag('tese.png')%></div>
								<div class="divtestimonial">
									<p><%= t.trust_us.testimonial3%></p>
								</div>
								<div class="triangle"></div>
								<div class="autor">
									<p><%= t.trust_us.autor3%></p>
									<span class="quote"><%= t.trust_us.institution3%></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.bannerx').unslider({
			delay: false,
			keys: true,
			dots: true,
			loop: true,
			fluid: false,
			easing: 'swing'
		});
		$('.dot').click(function(){
			$('li').removeClass( "active" );
			$(this).addClass("active" );
		});
		
		var unslider = $('.page_slider').unslider();
		$('.unslider-arrow').click(function() {
		var fn = this.className.split(' ')[1];
		event.preventDefault();
		unslider.data('unslider')[fn]();
		});
	});
</script>