<div class="content bg-darkgray">
  <div class="wrapper">
    <div class="cols-12">
      <h4><%= t.pate.t4 %></h4>
      <div class="col col-6">
        <div class="col-inner">
          <div class="dashboard">
            <ul class="social_list">
              <li class="color"><%= t.pate.lic1 %></li>
              <li class="color"><%= t.pate.lic2 %></li>
              <li class="color"><%= t.pate.lic3 %></li>
              <li class="color"><%= t.pate.lic4 %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="dashboard">
            <ul class="social_list">
              <li class="color"><%= t.pate.lic5 %></li>
              <li class="color"><%= t.pate.lic6 %></li>
              <li class="color"><%= t.pate.lic7 %></li>
              <li class="color"><%= t.pate.lic8 %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="social content-top">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-6">
        <div class="col-inner">
          <div class="info">
            <div class="img_center">
              <%= image_tag 'chart_general.png', '95%' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="info">
            <h4 class="blue"><%= t.pate.impact_chart_t1 %></h4>
            <p><%= t.pate.impact_chart_txt1 %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="social content-top">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-6">
        <div class="col-inner">
          <div class="info">
            <h4 class="blue"><%= t.pate.impact_chart_t2 %></h4>
            <p><%= t.pate.impact_chart_txt2 %></p>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="info">
            <div class="img_center">
              <%= image_tag 'chart_aceptacion.png', '97%'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>