<div class="pitch intro pate-intro ">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h1 class="pate"> <%= t.pate.t1%> </h1>
          <h2 class="pate"> <%= t.pate.t2%> </h2>
          <div class="buttons_cta">
            <ul class="button_banner">
              <li>
                <%= link_to t.pate.b1 , 'pate/call', '',  'btn btn-apply' %>
              </li>
            </ul>
          </div>
          <p><%= t.pate.txt1 %> <%= link_to t.pate.here , 'pate/sponsor_form', class:'hvr'%>
        </div>
      </div>
    </div>
  </div>
</div>