<div class="pitch">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h2><%= t.pate.sponsors %> </h2>
            <p> <%= t.pate.text3 %></p>
            <div class="buttons_cta">
              <ul class="button_banner">
                <li>
                  <%= image_tag('sponsor_hp.png')%>
                </li>
                <li>
                  <%= image_tag('sponsor_spectron.png')%>
                </li>
                <li>
                  <%= image_tag('sponsor_wayra.png')%>
                </li>
              </ul>
            </div>
            <p>  <%= t.pate.text5 %></p>
        </div>
      </div>
    </div>
  </div>
</div>