<div class="content">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="info">
						<h2> <%= t.pate.sponsors %> </h2>
						<%= t.pate.text3 %>
						
						<div class="buttons_cta">
							<ul class="button_banner">
								<li>
									<%= image_tag('sponsor_hp.png')%>
								</li>
								<li>
									<%= image_tag('sponsor_spectron.png')%>
								</li>
								<li>
									<%= image_tag('sponsor_wayra.png')%>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>