<div class="main_blue to_top ">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="dashboard">
            <div class="main-title">
              <h1 class="home"><%= t.banner_index_head.m1%></h1>
            </div>
            <div class="buttons_cta">
              <ul class="button_banner">
                <li>
                  <a class="btn btn-cta" href="/<%=session[:locale] %>">
                  <%= t.banner_index_head.m3%></a>
                </li>
                <li>
                  <a class="btn btn-border" href="/<%=session[:locale] %>">
                  <%= t.banner_index_head.m4%></a>
                </li>
              </ul>
            </div>
            <div class="img-center">
              <img src="/img/lap.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
