<div class="content clients">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h3> <%= t.trust_us.head %> </h3>
          <div class="buttons_cta">
              <ul class="button_banner">
                <li>
                  <%= image_tag('client_sep.gif')%>
                </li>
                <li>
                  <%= image_tag('client_bna.gif')%>
                </li>
                <li>
                  <%= image_tag('client_ipn.gif')%>
                </li>
                <li>
                  <%= image_tag('client_conalep.gif')%>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>