<div class="clients">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <hr/>
          <h3> <%= t.trust_us.head %> </h3>
          <div class="buttons_cta">
            <ul class="button_banner">
              <li>
                <%= image_tag('client_sep.png')%>
              </li>
              <li>
                <%= image_tag('client_bna.png')%>
              </li>
              <li>
                <%= image_tag('client_ipn.png')%>
              </li>
              <li>
                <%= image_tag('client_conalep.png')%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>