<div class="functions content">
	<div class="wrapper">
		<div class="cols-12">

			<div class="col col-6">
				<div class="col-inner">
          <div class="info">
            <h2><%= t.functions_text.head%> </h2>
              <p><%= t.functions_text.m1%> </p>
            </div>
            <div class="tools">

              <div class="tool">
                <h5 class="sub">
                  <i class="i i-tareas"></i>
                  <%= t.functions_text.f1%> 
                </h5>
              </div>
              <div class="tool">
                <h5 class="sub">
                  <i class="i i-cuestionarios"></i>
                  <%= t.functions_text.f2%> 
                </h5>
              </div>
               <div class="tool">
                <h5 class="sub">
                  <i class="i i-discuciones"></i>
                  <%= t.functions_text.f3%> 
                </h5>
              </div>
               <div class="tool">
                <h5 class="sub">
                  <i class="i i-coments"></i>
                  <%= t.functions_text.f4%> 
                </h5>
              </div>
              <div class="tool">
                <h5 class="sub">
                  <i class="i i-chat"></i>
                  <%= t.functions_text.f5%> 
                </h5>
              </div>
              <div class="tool">
                <h5 class="sub">
                  <i class="i i-comunidad"></i>
                  <%= t.functions_text.f6%> 
                </h5>
              </div>
               <div class="tool">
                <h5 class="sub">
                  <i class="i i-calificaciones"></i>
                  <%= t.functions_text.f7%> 
                </h5>
              </div>
               <div class="tool">
                <h5 class="sub">
                  <i class="i i-radar "></i>
                  <%= t.functions_text.f8%> 
                </h5>
              </div>
              <div class="tool">
                <h5 class="sub">
                  <i class="i i-mix"></i>
                  <%= t.functions_text.f9%> 
                </h5>
              </div>
              <div class="tool">
                <h5 class="sub">
                  <i class="i i-bit"></i>
                  <%= t.functions_text.f10%> 
                </h5>
              </div>
              <div class="tool">
                <h5 class="sub">
                  <i class="i i-gospel"></i>
                  <%= t.functions_text.f11%> 
                </h5>
              </div>
              
            </div>
				</div>
			</div>

      <div class="col col-6">
        <div class="col-inner">
          <div class="content">
            <img class="right" src="img/iphone.png" alt="">  
          </div>
        </div>
        <div >
          <a class="btn btn-goto" href="/<%=session[:locale] %>/features"> 
            <%= t.functions_text.link%> 
          </a>
        </div>
      </div>


		</div>
	</div>
</div>