<div class="functions content">
	<div class="wrapper">
		<div class="cols-12">

			<div class="col col-6">
				<div class="col-inner">
          <div class="info">
            <h2><%= t.functions_text.head%> </h2>
              <p><%= t.functions_text.m1%> </p>
            </div>
            <div class="tools">
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-tareas"></i>
                  <%= t.functions_text.f1%> 
                </h4>
              </div>
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-cuestionarios"></i>
                  <%= t.functions_text.f2%> 
                </h4>
              </div>
               <div class="tool">
                <h4 class="sub">
                  <i class="i i-discuciones"></i>
                  <%= t.functions_text.f3%> 
                </h4>
              </div>
               <div class="tool">
                <h4 class="sub">
                  <i class="i i-coments"></i>
                  <%= t.functions_text.f4%> 
                </h4>
              </div>
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-chat"></i>
                  <%= t.functions_text.f5%> 
                </h4>
              </div>
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-comunidad"></i>
                  <%= t.functions_text.f6%> 
                </h4>
              </div>
               <div class="tool">
                <h4 class="sub">
                  <i class="i i-calificaciones"></i>
                  <%= t.functions_text.f7%> 
                </h4>
              </div>
               <div class="tool">
                <h4 class="sub">
                  <i class="i i-estadisticas"></i>
                  <%= t.functions_text.f8%> 
                </h4>
              </div>
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-estadisticas"></i>
                  <%= t.functions_text.f9%> 
                </h4>
              </div>
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-estadisticas"></i>
                  <%= t.functions_text.f10%> 
                </h4>
              </div>
              <div class="tool">
                <h4 class="sub">
                  <i class="i i-estadisticas"></i>
                  <%= t.functions_text.f11%> 
                </h4>
              </div>
            </div>
          <div class="info">
            <a href="/<%=session[:locale] %>/functions"> 
            <%= t.functions_text.link%> 
            </a>
          </div>
				</div>
			</div>

      <div class="col col-6">
        <div class="col-inner">
          <div class="info right">
            <img class="right" src="img/phone.png" alt="">  
          </div>
        </div>
      </div>
		</div>
	</div>
</div>