<div class="content bg-darkgray">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <div class="item ">
            <i class="i i-conect"></i>
           <h2><%= t.bnefits_text.t1%></h2>
          <span>  
            <%= t.bnefits_text.tx1%>
          </span>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="item ">
          <i class="i i-tools"></i>
           <h2><%= t.bnefits_text.t2%></h2>
          <span>  
            <%= t.bnefits_text.tx2%>
          </span>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="item ">
          <i class="i i-multi"></i>
           <h2><%= t.bnefits_text.t3%></h2>
          <span>  
            <%= t.bnefits_text.tx3%>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>