<div class="pitch " id="pitch">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-3">
        <div class="col-inner">
          <div class="item">          
            <div class="i-left">
              <i class="i i-pitch1"></i>
            </div>
            <div class="updiv">
              <h5><%= t.pitch.t1 %></h5>    
            </div>
        </div>
      </div>
    </div>
      <div class="col col-3">
        <div class="col-inner">          
          <div class="item">
            <div class="i-left">
              <i class="i i-pitch3"></i>
            </div>
            <div class="updiv">
              <h5><%= t.pitch.t2 %></h5>    
            </div>      
        </div>
      </div>
    </div>
      <div class="col col-3">
        <div class="col-inner">          
          <div class="item">
            <div class="i-left">
              <i class="i i-pitch4"></i>
            </div>
            <div class="updiv">
              <h5><%= t.pitch.t3 %></h5>    
            </div>   
        </div>
      </div>
    </div>

      <div class="col col-3">
        <div class="col-inner">          
          <div class="item">
          <div class="i-left">
              <i class="i i-pitch2"></i>
            </div>
            <div class="updiv">
              <h5><%= t.pitch.t4 %></h5>    
            </div> 
        </div>
      </div>
    </div>

      <div class="col col-12">
        <div class="col-inner">
          <div class="content">
            <div class="buttons_cta">
              <ul class="button_banner">
                <li>
                  <%= link_to t.bnefits_text.call, 'benefits', '', "btn btn-goto"%>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>