<div class="content" id="pitch">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch1"></i>
            <h3><%= t.pitch.t1 %></h3>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch3"></i>
            <h3><%= t.pitch.t2 %></h3>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch4"></i>
            <h3><%= t.pitch.t3 %></h3>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch2"></i>
            <h3><%= t.pitch.t4 %></h3>
          </div>
        </div>
      </div>
      <div class="col col-12">
        <div class="col-inner">
          <div class="buttons_cta">
            <ul class="button_banner">
              <li>
                <%= link_to t.functions_text.link, 'features', '', "btn btn-goto"%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>