<div class="head-title bg-orangegradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h3> <i class="i i-rs"></i><%= t.social.title%></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="social content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <ul class="social_list">
            <li class="title"><%= t.social.sub1%></li>
            <li><%= t.social.li11%></li>
            <li><%= t.social.li12%></li>
            <li><%= t.social.li13%></li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <ul class="social_list">
            <li class="title"><%= t.social.sub2%></li>
            <li><%= t.social.li21%></li>
            <li><%= t.social.li22%></li>
            <li><%= t.social.li23%></li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <ul class="social_list">
            <li class="title"><%= t.social.sub3%></li>
            <li><%= t.social.li31%></li>
            <li><%= t.social.li32%></li>
            <li><%= t.social.li33%></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>