<%= erb :'/static_views/simple_renders/testimonials', locals: {title: t.trust_us.head} %>
<div class="content">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="buttons_cta">
						<ul class="button_banner">
							<li>
								<%= link_to t.trust_us.go_benefits, 'contact', '', "btn btn-cta"%>
							</li>
						</ul>
					</div>
					<div class="img-center">
            <%= image_tag 'pat1.png'%>
            <%= image_tag 'pat2.png'%>
            <%= image_tag 'pat3.png'%>
          </div> 
				</div>
			</div>
		</div>
	</div>
</div>
