<div class="content-top functions">
	<div class="wrapper">
    <div class="cols-12">

  <div class="col col-6">
    <div class="col-inner">
			<div class="dashboard">
					<ul class="benefit-list">
						<li class="img-center"> <img src="/img/role-teacher.png" alt=""> </li>
						<h4><%= t.benefits.section1 %></h4>
						<li><%= t.benefits.mbenefit1 %></li>
						<li><%= t.benefits.mbenefit2 %></li>
						<li><%= t.benefits.mbenefit3 %></li>
						<li><%= t.benefits.mbenefit4 %></li>
						<li><%= t.benefits.mbenefit5 %></li>
					</ul>
				</div>
			</div>
		</div>


  <div class="col col-6">
    <div class="col-inner">
			<div class="dashboard">
					<ul class="benefit-list">
						<li class="img-center"> <img src="/img/role-student.png" alt=""> </li>
						<h4><%= t.benefits.section2 %></h4>
						<li><%= t.benefits.ebenefit1 %></li>
						<li><%= t.benefits.ebenefit2 %></li>
						<li><%= t.benefits.ebenefit3 %></li>
						<li><%= t.benefits.ebenefit4 %></li>
						<li><%= t.benefits.ebenefit5 %></li>
					</ul>
				</div>
			</div>
		</div>


  <div class="col col-6">
    <div class="col-inner">
			<div class="dashboard">
					<ul class="benefit-list">
						<li class="img-center"> <img src="/img/role-admin.png" alt=""> </li>
						<h4><%= t.benefits.section3 %></h4>
						<li><%= t.benefits.dbenefit1 %></li>
						<li><%= t.benefits.dbenefit2 %></li>
						<li><%= t.benefits.dbenefit3 %></li>
						<li><%= t.benefits.dbenefit4 %></li>
						<li><%= t.benefits.dbenefit5 %></li>
					</ul>
				</div>
			</div>
		</div>


  <div class="col col-6">
    <div class="col-inner">
			<div class="dashboard">
					<ul class="benefit-list">
						<li class="img-center"> <img src="/img/role-school.png" alt=""> </li>
						<h4><%= t.benefits.section4 %></h4>
						<li><%= t.benefits.ibenefit1 %></li>
						<li><%= t.benefits.ibenefit2 %></li>
						<li><%= t.benefits.ibenefit3 %></li>
						<li><%= t.benefits.ibenefit4 %></li>
						<li><%= t.benefits.ibenefit5 %></li>
					</ul>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>


<div class="functions content-top">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-2">
        <div class="col-inner">
          <div class="item bg-gray2">
            <i class="i i-easy"></i>
						<%= t.benefits.benefit1 %>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="col-inner">
          <div class="item bg-gray2">
          <i class="i i-tools"></i>
					<%= t.benefits.benefit2 %>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="col-inner">
          <div class="item bg-gray2">
          <i class="i i-multi"></i>
					<%= t.benefits.benefit3 %>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="col-inner">
          <div class="item bg-gray2">
          <i class="i i-conect"></i>
					<%= t.benefits.benefit4 %>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="col-inner">
          <div class="item bg-gray2">
          <i class="i i-tools"></i>
					<%= t.benefits.benefit5 %>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="col-inner">
          <div class="item bg-gray2">
          <i class="i i-cloud"></i>
					<%= t.benefits.benefit6 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>