<div class="content">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="dashboard">
						<h2><%= t.benefits.title %></h2>
						<div class="col col-3">
							<ul>
								<li><%= t.benefits.benefit1 %></li>
								<li><%= t.benefits.benefit2 %></li>
								<li><%= t.benefits.benefit3 %></li>
								<li><%= t.benefits.benefit4 %></li>
								<li><%= t.benefits.benefit5 %></li>
								<li><%= t.benefits.benefit6 %></li>
							</ul>
						</div>
						<div class="col col-9">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="dashboard">
				<h2><%= t.benefits.section1 %></h2>
				<div class="col col-3">
					<ul>
						<li><%= t.benefits.mbenefit1 %></li>
						<li><%= t.benefits.mbenefit2 %></li>
						<li><%= t.benefits.mbenefit3 %></li>
						<li><%= t.benefits.mbenefit4 %></li>
						<li><%= t.benefits.mbenefit5 %></li>
					</ul>
				</div>
				<div class="col col-9">
					
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="dashboard">
				<h2><%= t.benefits.section2 %></h2>
				<div class="col col-3">
					<ul>
						<li><%= t.benefits.ebenefit1 %></li>
						<li><%= t.benefits.ebenefit2 %></li>
						<li><%= t.benefits.ebenefit3 %></li>
						<li><%= t.benefits.ebenefit4 %></li>
						<li><%= t.benefits.ebenefit5 %></li>
					</ul>
				</div>
				<div class="col col-9">
					
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="dashboard">
				<h2><%= t.benefits.section3 %></h2>
				<div class="col col-3">
					<ul>
						<li><%= t.benefits.dbenefit1 %></li>
						<li><%= t.benefits.dbenefit2 %></li>
						<li><%= t.benefits.dbenefit3 %></li>
						<li><%= t.benefits.dbenefit4 %></li>
						<li><%= t.benefits.dbenefit5 %></li>
					</ul>
				</div>
				<div class="col col-9">
					
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="dashboard">
				<h2><%= t.benefits.section4 %></h2>
				<div class="col col-3">
					<ul>
						<li><%= t.benefits.ibenefit1 %></li>
						<li><%= t.benefits.ibenefit2 %></li>
						<li><%= t.benefits.ibenefit3 %></li>
						<li><%= t.benefits.ibenefit4 %></li>
						<li><%= t.benefits.ibenefit5 %></li>
					</ul>
				</div>
				<div class="col col-9">
					
				</div>
			</div>
		</div>
	</div>
</div>