<div class="head-title bg-bluegradient">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <h3><i class="i i-ben"></i><%=t.benefits.title%></h3>
            <h4> <%=t.benefits.subtitle%></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-darkgray">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <ul class="features-links content">
            <li id="tab1" class="active ben rawmargin" onclick="changeTab('tab1');">
              <%= icon_bottom_text('rol1', t.benefits.section4) %>
              <div class="arrow-down"></div>
            </li>
            <li id="tab2" class="unactive ben rawmargin" onclick="changeTab('tab2');">
              <%= icon_bottom_text('rol2', t.benefits.section3) %>
            </li>
            <li id="tab3" class="unactive ben rawmargin" onclick="changeTab('tab3');">
              <%= icon_bottom_text('rol3', t.benefits.section1) %>
            </li>
            <li id="tab4" class="unactive ben rawmargin" onclick="changeTab('tab4');">
              <%= icon_bottom_text('rol4', t.benefits.section2) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tools-info content-top">
  <div class="wrapper">
    <div class="cols-12">

      <div id="to-tab1">
        <div class="col col-5">
          <div class="col-inner">
            <h2><%= t.benefits.section4 %></h2>
              <ul class="benefit-list">
                <li class="block"><%= t.benefits.ibenefit1 %></li>
                <li class="block"><%= t.benefits.ibenefit2 %></li>
                <li class="block"><%= t.benefits.ibenefit3 %></li>
                <li class="block"><%= t.benefits.ibenefit4 %></li>
                <li class="block"><%= t.benefits.ibenefit5 %></li>
              </ul>
          </div>
        </div>
        <div class="col col-7">
          <div class="col-inner">
            <div class="img-center">
              <%= image_tag 'ben_ins.png', '40%' %>
            </div>
          </div>
        </div>
      </div>

      <div id="to-tab2" style="display:none;">
        <div class="col col-5">
          <div class="col-inner">
            <h2><%= t.benefits.section3 %></h2>
              <ul class="benefit-list">
                <li class="block"><%= t.benefits.dbenefit1 %></li>
                <li class="block"><%= t.benefits.dbenefit2 %></li>
                <li class="block"><%= t.benefits.dbenefit3 %></li>
                <li class="block"><%= t.benefits.dbenefit4 %></li>
                <li class="block"><%= t.benefits.dbenefit5 %></li>
              </ul>
          </div>
        </div>
        <div class="col col-7">
          <div class="col-inner">
            <%= image_tag('ben_dir.png')  %>
          </div>
        </div>
      </div>

      <div id="to-tab3" style="display:none;">
        <div class="col col-5">
          <div class="col-inner">
            <h2><%= t.benefits.section1 %> </h2>
            <ul class="benefit-list">
              <li class="block"><%= t.benefits.mbenefit1 %></li>
              <li class="block"><%= t.benefits.mbenefit2 %></li>
              <li class="block"><%= t.benefits.mbenefit3 %></li>
              <li class="block"><%= t.benefits.mbenefit4 %></li>
              <li class="block"><%= t.benefits.mbenefit5 %></li>
            </ul>
          </div>
        </div>
          <div class="col col-7">
              <div class="col-inner">
                <%= image_tag('ben_teach.png')  %>
              </div>
          </div>
      </div>
                  
      <div id="to-tab4" style="display:none;">
        <div class="col col-5">
            <div class="col-inner">
              <h2><%= t.benefits.section2 %></h2>
            <ul class="benefit-list">
              <li class="block"><%= t.benefits.ebenefit1 %></li>
              <li class="block"><%= t.benefits.ebenefit2 %></li>
              <li class="block"><%= t.benefits.ebenefit3 %></li>
              <li class="block"><%= t.benefits.ebenefit4 %></li>
              <li class="block"><%= t.benefits.ebenefit5 %></li>
            </ul>
            </div>
          </div>
        <div class="col col-7">
          <div class="col-inner">
            <%= image_tag('ben_al.png')  %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

