<%= erb :'/static_renders/simple_header', locals: {title: t.forms.contact_title, icon: true, call_icon: 'contact'}%>
<div class="contact-form">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="formsheet">
						
						<form class="form" action="/mailer" method="POST" enctype="multipart/form-data">
							<div class="thirds">
								<div class="left">
									<ul class="question">
										<li>
											<%= t.forms.name %>: <input type="text" name="name"  required/>
										</li>
										<li>
											<%= t.forms.email %>: <input type="text" name="email" required/>
										</li>
										<li>
											<%= t.forms.phone %>: <input type="number" name="phone" required/>
										</li>
										<li>
											<%= t.forms.institution %>: <input type="text" name="institution" required/>
										</li>
									</ul>
								</div>
								<div class="center">
									<ul class="question">
										<li>
											<%= t.forms.content %>: <textarea name="content" required></textarea>
										</li>
										<li>
											<input type="submit" value="<%= t.forms.send_contact %>" class="btn btn-send menu-get" />
										</li>
									</ul>
								</div>
								<div class="right">
									<ul class="question">
										<li>
											<i class="i i-social5"></i> <a href="mailto:hola@cursa.me">hola@cursa.me</a>
										</li>
										<li>
											<i class="i i-social1"></i>+52 (55) 63 6328 93
										</li>
										<li>
											<i class="i i-social2"></i>Pomona 7, Roma, Ciudad de México
										</li>
									</ul>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>