<%= erb :'/static_renders/simple_header', locals: {title: 'Formulario de contacto', icon: true, call_icon: 'contact'}%>
<div class="wrapper">
	<div class="cols-12">
		<div class="col col-12">
			<div class="col-inner">
				<div class="info">
					<form class="form" action="/mailer" method="POST" enctype="multipart/form-data">
						<%= t.forms.name %>: <input type="text" name="name" />
						<%= t.forms.email %>: <input type="text" name="email" />
						<%= t.forms.phone %>: <input type="text" name="phone" />
						<%= t.forms.institution %>: <input type="text" name="institution" />
						<%= t.forms.content %>: <textarea name="content"></textarea>
						<input type="submit" value="<%= t.forms.send_contact %>" class="btn btn-cta menu-get" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>