<div class="main-blue contact-title intro-contact ">
	<div class="wrapper">
		<div class="cols-12">

			<div class="col col-6">
				<div class="col-inner">
					<h3><i class="i i-contact"></i><%= t.forms.contact_title %></h3>
				</div>
			</div>

			<div class="col col-3">
				<div class="col-inner">
					<ul class="direction white_transparent">
					  <li>
							<h5>Latinoamérica</h5>
						</li>
						<li>
							<i class="i i-social5"></i> <a href="mailto:hola@cursa.me">hola@cursa.me</a>
						</li>
						<li>
							<i class="i i-social1"></i>+52 (55) 63 6328 93
						</li>
						<li>
							<i class="i i-social2"></i>Pomona 7, Roma, Ciudad de México
						</li>
					</ul>				
				</div>
			</div>

			<div class="col col-3">
				<div class="col-inner">
					<ul class="direction white_transparent">
					  <li>
							<h5>Europa</h5>
						</li>
						<li>
							<i class="i i-social5"></i> <a href="mailto:hola@cursa.me">europe@cursa.me</a>
						</li>
						<li>
							<i class="i i-social1"></i>(+34) 910 841 022
						</li>
						<li>
							<i class="i i-social2"></i> José María Lacort 9, 47002, Valladolid, España
						</li>
					</ul>				
				</div>
			</div>


		</div>
	</div>
</div>




<div class="contact-form">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="formsheet">
						
						<form class="form" action="/mailer" method="POST" enctype="multipart/form-data">
							<div class="half-half">

								<div class="left">
									<ul class="question">
										<li>
											<%= t.forms.type_contact %>:
											<select name="simglearea">
												<option value="0"><%= t.forms.sales_area %></option>
												<option value="1"><%= t.forms.social_area %></option>
												<option value="2"><%= t.forms.suport_area %></option>
											</select>
										</select>
									</li>
									<li>
										<%= t.forms.name %>: <input type="text" name="name"  required/>
									</li>
									<li>
										<%= t.forms.charge %>: <input type="text" name="charge" required/>
									</li>
									<li>
										<%= t.forms.email %>: <input type="text" name="email" required/>
									</li>
									<li>
										<%= t.forms.phone %>: <input type="number" name="phone" required/>
									</li>

								</ul>
							</div>

							<div class="right">
								<ul class="question">
									<li>
										<%= t.forms.institution %>: <input type="text" name="institution" required/>
									</li>
									<li>
										<%= t.forms.content %>: <textarea name="content" required></textarea>
									</li>
									<li>
										<input type="submit" value="<%= t.forms.send_contact %>" class="btn btn-send menu-get" />
									</li>
								</ul>
							</div>
							
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>