<div class="head-title bg-greengradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
	        <h3><i class="i i-functions"></i> Funciones y Herramientas</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-darkgray">
	<div class="wrapper">
	  <div class="cols-12">
	    <div class="col col-12">
	      <div class="col-inner">
					<ul class="features-links content ">
						<li id="tab1" class="active" onclick="changeTab('tab1');">
							<%= icon_bottom_text('tareas', t.functions.f1) %>
							<div class="arrow-down"></div>
						</li>
						<li id="tab2" class="unactive" onclick="changeTab('tab2');">
							<%= icon_bottom_text('cuestionarios', t.functions.f2) %>
						</li>
						<li id="tab3" class="unactive" onclick="changeTab('tab3');">
							<%= icon_bottom_text('discuciones', t.functions.f3) %>
						</li>
						<li id="tab4" class="unactive" onclick="changeTab('tab4');">
							<%= icon_bottom_text('coments', t.functions.f4) %>
						</li>
						<li id="tab5" class="unactive" onclick="changeTab('tab5');">
							<%= icon_bottom_text('chat', t.functions.f5) %>
						</li>
						<li id="tab6" class="unactive" onclick="changeTab('tab6');">
							<%= icon_bottom_text('comunidad', t.functions.f6) %>
						</li>
						<li id="tab7" class="unactive" onclick="changeTab('tab7');">
							<%= icon_bottom_text('calificaciones', t.functions.f7) %>
						</li>
						<li id="tab8" class="unactive" onclick="changeTab('tab8');">
							<%= icon_bottom_text('estadisticas', t.functions.f8) %>
						</li>
						<li id="tab8" class="unactive" onclick="changeTab('tab8');">
							<%= icon_bottom_text('estadisticas', t.functions.f8) %>
						</li>
						<li id="tab8" class="unactive" onclick="changeTab('tab8');">
							<%= icon_bottom_text('estadisticas', t.functions.f8) %>
						</li>
						<li id="tab8" class="unactive" onclick="changeTab('tab8');">
							<%= icon_bottom_text('estadisticas', t.functions.f8) %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tools-info content-top">
	<div class="wrapper">
	  <div class="cols-12">

			<div class="info" id="to-tab1">
				<div class="col col-5">
					<div class="col-inner">
						<h2><%=t.functions.f1%></h2>
						<p><%=t.functions.text1%></p>
						<p><%=t.functions.features1%></p>
					</div>
				</div>

				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-homeworks.png" alt="">
					</div>
				</div>
			</div>

			<div class="info" id="to-tab2" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f2%></h2>
							<p><%=t.functions.text2%></p>
							<p><%=t.functions.features2%></p>
					</div>
				</div>

				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-results.png" alt="">
					</div>
				</div>
			</div>

			<div class="info" id="to-tab3" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f3%></h2>
							<p><%=t.functions.text3%></p>
							<p><%=t.functions.features3%></p>
						</div>
					</div>
				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-discussiones.png" alt="">
					</div>
				</div>
			</div>
					
			<div class="info" id="to-tab4" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f4%></h2>
							<p><%=t.functions.text4%></p>
							<p><%=t.functions.features4%></p>
						</div>
					</div>
				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-comments.png" alt="">
					</div>
				</div>
			</div>

		<div class="info" id="to-tab5" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f5%></h2>
							<p><%=t.functions.text5%></p>
							<p><%=t.functions.features5%></p>
						</div>
					</div>
				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-chat.png" alt="">
					</div>
				</div>
			</div>



			<div class="info" id="to-tab6" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f6%></h2>
							<p><%=t.functions.text6%></p>
							<p><%=t.functions.features6%></p>
						</div>
					</div>
				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-network.png" alt="">
					</div>
				</div>
			</div>


			<div class="info" id="to-tab7" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f7%></h2>
							<p><%=t.functions.text7%></p>
							<p><%=t.functions.features7%></p>
						</div>
					</div>
				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-results.png" alt="">
					</div>
				</div>
			</div>

			<div class="info" id="to-tab8" style="display:none;">
				<div class="col col-5">
					<div class="col-inner">
							<h2><%=t.functions.f8%></h2>
							<p><%=t.functions.text8%></p>
							<p><%=t.functions.features8%></p>
						</div>
					</div>
				<div class="col col-7">
					<div class="col-inner">
						<img src="/img/s-statisdics.png" alt="">
					</div>
				</div>
			</div>

			</div>
		</div>
	</div>

	<div class="plugins bg-darkgray">
	<div class="wrapper">
		<div class="cols-12">
			<h2><%=t.functions.plugins%></h2>
			<p><%=t.functions.textplugins%></p>
		  
		  <div class="col col-4">
	      <div class="col-inner">
					<div class="item2">
					<div class="img-center">
						<%= image_tag 'l_radar.png', '50%' %>
					</div>
						<span> <%= t.functions.radartext %></span>
					</div>
				</div>
			</div>

			<div class="col col-4">
	      <div class="col-inner">
					<div class="item2">
					<div class="img-center">
							<%= image_tag 'l_bit.png', '50%' %>
						</div>
						<span> <%= t.functions.vlextext %></span>					
					</div>
				</div>
			</div>


			<div class="col col-4">
	      <div class="col-inner">
					<div class="item2">
						<div class="img-center">
							<%= image_tag 'l_mix.png', '50%' %>
						</div>
		        <span> <%= t.functions.mixpaneltext%></span>
		      </div>
		    </div>
		  </div>

		</div>
	</div>
</div>