<% if !mobile_validate? %>
<div class="footer ">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-3">
        <div class="col-inner">
          <div class="logo2">
            <img src="/img/whitelogo.png" alt="">
          </div>
          <div class="rights">
            Derechos reservados ©  2015
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <ul class="footermenu">
            <li>Cúrsame</li>
            <li><%= link_to t.menu.functions, 'features' %></li>
            <li><%= link_to t.footer.social, 'pate' %></li>
            <li><%= external_link t.footer.gospel, 'http://capacitate.cursa.me' %></li>
            <li><%= external_link t.footer.radar, 'http://radarescolar.com' %></li>
            <li><%#= link_to t.footer.jobs, 'jobs' %></li>
          </ul>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <ul class="footermenu">
            <li>Ayuda</li>
            <li><%= link_to t.footer.contact, 'contact' %></li>
            <li><%= link_to t.footer.terms, 'terms' %></li>
            <li><%= link_to t.footer.privatex, 'private' %></li>
            <li><%#= link_to t.footer.news, 'news' %></li>
          </ul>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <ul class="footermenu">
            <li>Síguenos</li>
            <li><%= external_link 'Facebook', 'https://www.facebook.com/Cursameoficial?ref=hl' %></li>
            <li><%= external_link 'Twitter','https://twitter.com/cursame' %> </li>
          </ul>
          <ul class="footermenu">
            <li>Lenguaje</li>
            <li><i class="i i-spanish"></i><%= link_to t.footer.spanish, 'to_es' %> </li>
            <li><i class="i i-english"></i><%= link_to t.footer.english, 'to_en' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>