<div class="footer ">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-3">
        <div class="col-inner">
          <div class="logo2">
            <img src="/img/whitelogo.png" alt="">
          </div>
          <div class="rights">
            Derechos reservados ©  2015
          </div>
        </div>
      </div>

      <div class="col col-3">
        <div class="col-inner">
            <ul class="footermenu">
              <li>Cúrsame</li>
              <li><a href="/<%=session[:locale] %>/features"><%= link_to(t.menu.functions, 'features') %></a></li>
              <li><a href="/<%=session[:locale] %>/social"><%= t.footer.social %></a></li>
              <li><a href="/<%=session[:locale] %>/jobs"><%= t.footer.jobs %></a></li>
              <li><a href="/<%=session[:locale] %>/contact"><%= t.footer.contact %></a></li>
           </ul>
          </div>
        </div>
      <div class="col col-3">
        <div class="col-inner">
            <ul class="footermenu">
              <li>Ayuda</li>
              <li><a href="/<%=session[:locale] %>/news"><%= t.footer.news %></a></li>
              <li><a href="/<%=session[:locale] %>/social"><%= t.footer.social %></a></li>
              <li><a href="/<%=session[:locale] %>/jobs"><%= t.footer.jobs %></a></li>
              <li><a href="/<%=session[:locale] %>/contact"><%= t.footer.contact %></a></li>
           </ul>
          </div>
        </div>
      <div class="col col-3">
        <div class="col-inner">
            <ul class="footermenu">
              <li>Síguenos</li>
              <li> <a href="#">Facebook </a></li>
              <li><a href="#">Twitter</a></li>
           </ul>
            <ul class="footermenu">
              <li>Lenguaje</li>
              <li> <a href="#"><%= t.footer.spanish %> </a></li>
              <li><a href="#"><%= t.footer.english %></a></li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>