<ul>
	<li><a href="/<%=session[:locale] %>/news"><%= t.footer.news %></a></li>
	<li><a href="/<%=session[:locale] %>/social"><%= t.footer.social %></a></li>
	<li><a href="/<%=session[:locale] %>/jobs"><%= t.footer.jobs %></a></li>
	<li><a href="/<%=session[:locale] %>/contact"><%= t.footer.contact %></a></li>
	<li><a href="/to_es"><%= t.footer.spanish %></a></li>
	<li><a href="/to_en"><%= t.footer.english %></a></li>
</ul>