<div class=" <%= 'header' if transparent_head %>  <%= 'header_scroll' if !transparent_head%>">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <a href="/<%=session[:locale] %>">
           <div class="logo">
            <% if transparent_head %>
            <img src="/img/mainlogo.png" alt="">
            <%else%>
            <img src="/img/mainlogo_color.png" alt="">
            <%end%>
          </div>
          </a>
        <div class="menu-home">
          <ul class=" <%= 'menu-main' if transparent_head %> <%= 'menu-main-bottom' if !transparent_head %> nav-top">
            <li><%= link_to(t.menu.functions, 'features') %></li>
            <li><%= link_to(t.menu.benefits, 'benefits') %></li>
            <li><%= link_to(t.menu.inpact, 'impact')  %></li>
            <li><%= link_to(t.menu.rse, 'pate') %></li>
            <li><%= link_to(t.menu.contact, 'contact')%></li>
          </ul>
        </div>

          <div class="menu-mobile totarget" data-target="menu-imobile">
           <ul>
             <li><i class="i i-menu " ></i>lalalala</li>
           </ul>
          </div>
          <div class="login">
            <ul class=" <%= 'singin-button' if transparent_head %>  <%= 'singin-button-bottom' if !transparent_head %>">
              <li><a href="/<%=session[:locale] %>/member"><%= t.menu.already_a_member %></a></li>
              <li><a href="/<%=session[:locale] %>/find_network" class="blue"><%= t.menu.loggin %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
