<div class="header">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
           <div class="logo">
            <img src="/img/mainlogo.png" alt="">
          </div>
        <div class="menu-home">
          <ul class="menu-main nav-top">
            <li><a href="/<%=session[:locale] %>"><%= t.menu.home %></a></li>
            <li><a href="/<%=session[:locale] %>/us"><%= t.menu.us %></a></li>
            <li><a href="/<%=session[:locale] %>/functions"><%= t.menu.functions %></a></li>
            <li><a href="/<%=session[:locale] %>/rse"><%= t.menu.rse %></a></li>
            <li><a href="/<%=session[:locale] %>/plugins"><%= t.menu.plugins %></a></li>
            <li><a href="/<%=session[:locale] %>/benefits"><%= t.menu.benefits %></a></li>
            <li><a href="/<%=session[:locale] %>/contact"><%= t.menu.contact %></a></li>
          </ul>
        </div>

        <div class="menu-mobile totarget" data-target="menu-imobile">
         <ul>
           <li><i class="i i-menu " ></i>lalalala</li>
         </ul>
        </div>
          <div class="login">
            <ul class="singin-button">
              <li><a href="/<%=session[:locale] %>/member"><%= t.menu.already_a_member %></a></li>
              <li><a href="/<%=session[:locale] %>/find_network"><%= t.menu.find_your_network %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>