<div class=" <%= 'header bg-blue' if transparent_head %>  <%= 'header_scroll' if !transparent_head%>">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <a href="/<%=session[:locale] %>">
           <div class="logo">
            <% if transparent_head %>
            <%= image_tag 'mainlogo.png', '100%' %>
            <%else%>
            <%= image_tag 'mainlogo_color.png', '100%'%>
            <%end%>
          </div>
          </a>
        <div class="menu-home">
          <ul class=" <%= 'menu-main' if transparent_head %> <%= 'menu-main-bottom' if !transparent_head %> nav-top">
            <li><%= link_to(t.menu.functions, 'features') %></li>
            <li><%= link_to(t.menu.benefits, 'benefits') %></li>
            <li><%= link_to(t.menu.inpact, 'impact')  %></li>
            <li><%= link_to(t.menu.rse, 'pate') %></li>
            <li><%= link_to(t.menu.contact, 'contact')%></li>
          </ul>
        </div>

        <div class="login">
          <ul class=" <%= 'signin-button' if transparent_head %>  
                      <%= 'signin-button-bottom' if !transparent_head %>">
            <li> <span><%= t.menu.already_a_member %></span></li>
            <li><%=link_to t.menu.loggin, 'login' %></li>
          </ul>
        </div>

        <div class="menu-mobile totarget" data-target="menu-imobile">
         <ul>
           <li><i class="i i-menu " ></i>=</li>
         </ul>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="loginbox" class=" featherlight featherlight-content">  
</div>