<div class="notice_head" style="display:none;"></div>
<div class="header_pate">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="logo-pate">
            <%= link_to  image_tag('mainlogo.png', '100%'),'../'%>
          </div>
          <div class="menu-home">
            <ul class="menu-main-pate nav-pate">
              <li><%= link_to(t.menu.contact, 'contact')%></li>
              <li><%= link_to(t.menu.functions, 'features') %></li>
              <li><%= link_to(t.menu.benefits, 'benefits') %></li>
              <li><%= link_to(t.menu.inpact, 'impact')  %></li>
            </ul>
          </div>
          <div class="menu-mobile totarget" data-target="menu-imobile"></div>
          <div class="login">
            <ul class="singin-button">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>